<!DOCTYPE html>
<html>
    <head>
        <link href="https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css" rel='stylesheet'/>
        <script src="https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js"></script>
        <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.1/mapbox-gl.js"></script>
        <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.1/mapbox-gl.css" rel='stylesheet'/>
        <script src="{{ url_for('static', filename='application.js') }}" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div id="state-coloring-legend">
                <h5>
                    Obesity[%]
                </h5>
                <div>
                    <span style="background-color:#32CD32;color: #32CD32;">
                        ...
                    </span>
                    <span>
                        &nbsp;&nbsp;20 - 24
                    </span>
                </div>
                <div>
                    <span style="background-color:#FFD700;color: #FFD700;">
                        ...
                    </span>
                    <span>
                        &nbsp;&nbsp;24 - 28
                    </span>
                </div>
                <div>
                    <span style="background-color:#FF8C00;color: #FF8C00;">
                        ...
                    </span>
                    <span>
                        &nbsp;&nbsp;28 - 32
                    </span>
                </div>
                <div>
                    <span style="background-color:#DC143C;color: #DC143C;">
                        ...
                    </span>
                    <span>
                        &nbsp;&nbsp;32 - 36
                    </span>
                </div>
            </div>    
            <div class="container-menu">
                <div class="container-menu-title">
                    <h4 id="title">
                        USA McDonald's statistics
                    </h4>
                    <img src="../static/us3x4.svg">
                    <p>
                    </p>
                </div>
                <div>
                    <button type="button" class="btn btn-primary item" onclick="StatisticsPerState()">
                        Statistics per state!
                    </button>
                    <button type="button" class="btn btn-primary item" onclick="ObesityColoring()">
                        Obesity coloring!
                    </button>
                    <button id="qwe" type="button" class="btn btn-primary item" onclick="HoustonMcDonalds()">
                            McDonalds in Houston!
                    </button>
                    <select id="state-selector" class="item">
                        {% for state in data%}
                            <option>{{state.strip('"')}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="container-map">
                <div id='map'>
                </div>
            </div>
        </div>
        <script>
            L.mapbox.accessToken = 'pk.eyJ1Ijoibm8tZHJ1aWRzLWhlcmUiLCJhIjoiY2pueW55bnJqMDQ2NzNrcGNybGljNWczZSJ9.gj7ZwFQ-qOEVi4-irp7aOg';
            var map = L.mapbox.map('map', 'mapbox.streets', {zoomControl: false}).setView([39.373671, -96.759925], 4);
            new L.Control.Zoom({position: 'topright'}).addTo(map);
        </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
